{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}

{% block content %}
<div id="content-main">
    <form method="post">
        {% csrf_token %}
        <fieldset class="module aligned">
            <div class="form-row">
                <label>Client:</label>
                <div class="readonly">{{ order.client_name }}</div>
            </div>
            <div class="form-row">
                <label>Email:</label>
                <div class="readonly">{{ order.email }}</div>
            </div>
            <div class="form-row">
                <label for="schedule">Select Schedule:</label>
                <select name="schedule" id="schedule" required>
                    <option value="">---------</option>
                    {% for schedule in available_schedules %}
                    <option value="{{ schedule.id }}">
                        {{ schedule.date }} - {{ schedule.time_slot }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </fieldset>
        <div class="submit-row">
            <input type="submit" value="Send Email" class="default" />
        </div>
    </form>
</div>
{% endblock %}